img {
    height: 300px;
    width: 300px;
    
   }
   
   .cat {
    height:300px;
    width: 300px;
   }
   h1{Color: blue;}
     
   
   /* add code here to change the color and font family of your name/title */
   
   /* Bonus: change the color of your list elements */
   ol{color: blue;}
   
   }
   h1{Color: blue;}
     
   
   /* add code here to change the color and font family of your name/title */
   
   /* Bonus: change the color of your list elements */
   ol{color: blue;}
   